* {
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
}

body {
    margin: 0;
    background-color: #1a1a1a;
}

/* Barra de navegación */

.navbar {
    width: 90%;
    margin: 30px 40px 30px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    font-family: 'Noto Serif Vithkuqi', serif;
    font-family: 'Signika Negative', sans-serif;
}

.nav {
    border-bottom: 1px solid;
}


.left {
    width: 50%;
}

.right {
    width: 50%;
    display: flex;
    justify-content: space-between;
}


a {
    color: rgba(255, 255, 255, 0.87);
    font-family: inherit;
    text-decoration: none;
    font-style: none;
    transition: color 1s;
    font-size: 20px;
}

a:hover {
    color: #6554AF;
    transition: color 0.3s;
}


/* -------------------Seccion 1-------------------------------- */

.seccion_1 {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
}

.introduccion {
    width: 50%;
    margin-left: 20px;
}

#desarrollador {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;

}

.sobremi {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.sobremi a,
.sobremi #flecha svg path {
    color: #6554AF;
}


.sobremi #flecha svg {
    width: 40px;
    margin-left: 10px;
    align-items: center;
    margin-top: 5px;
}

.sobremi #flecha svg {
    transform: rotate(0deg);
    transition: transform 0.5s;
}

/* Estilos adicionales al interactuar con .sobremi */
.sobremi.rotated #flecha svg {
    transform: rotate(90deg);
}

.imagen {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imagen .mifoto {
    background-image: url(../assets/yo.jpeg);
    background-size: cover;
    background-position: -90px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute; /* Cambia a posición absoluta */
    z-index: 1;
}

.imagen .imagen_borde {
    width: 430px;
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(#7400b8, #4ea8de, #80ffdb);
    animation: degradado 5s linear infinite;
    
}

@keyframes degradado{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* ---------------------Seccion 2--------------------------------- */

#nombre {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

.seccion_2 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.seccion_2 .izq {
    width: 60%;
    margin-left: 20px;
}

.seccion_2 .izq h2 {
    margin: 0px;
}

.seccion_2 .izq p {
    font-family: 'Noto Serif Vithkuqi', serif;
    font-family: 'Signika Negative', sans-serif;
    font-size: 20px;
    margin: 0;
}

.seccion_2 .der {
    width: 40%;
    margin-left: 2%;
    margin-right: 2%;
    font-family: 'Noto Serif Vithkuqi', serif;
    font-family: 'Signika Negative', sans-serif;
}

.love_tag {
    display: flex;
    flex-wrap: wrap;
}

.love svg path {
    color: #FF0060;
}

.love h3 {
    text-align: center;
    margin: 5px 10px 5px 10px;
    flex-basis: 25%;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: #2AF5FF;
    color: #1a1a1a;
    transition: transform 0.5s;
}

.love h3:hover {
    transform: scale(120%);
}

/* ---------------------Seccion 3--------------------------------- */

.seccion_3 {
    width: 100%;
    height: 100vh;
    text-align: center;
}

.titulo {
    padding-top: 3%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

.logos {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: auto;
    margin-top: 5%;
}

.logos svg,
.logos img {
    fill: white;
    width: 100px;
    height: 100px;
    transition: transform 1s;
    margin: 0 15px 0 15px;

}

#nestjs {
    filter: brightness(10);
    /* Establece el brillo a 0, lo que convierte la imagen a blanco */
}

.logos svg:hover,
.logos img:hover {
    transform: scale(120%);
}

/* ---------------------Seccion 4--------------------------------- */

.seccion_4 {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
}

.seccion_4 h1 {
    padding-top: 10px;
    margin-left: 50px;
    margin-bottom: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 90px;
    text-align: start;
}

.seccion_4 .contenedor_proyectos {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
}

.seccion_4 .contenedor_proyectos div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 200px;
    margin: 20px 10px 20px 10px;
    transition: transform 0.5s;
}

.tarjeta:hover {
    transform: scale(120%);
}

.tarjeta img {
    width: 300px;
    height: 150px;
    border-radius: 20px 20px 0 0;
}

.tarjeta .info_tarjeta {
    width: 300px;
    height: 50px;
    background-color: #87A2FB;
    color: rgba(255, 255, 255, 0.87);
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Noto Serif Vithkuqi', serif;
    font-family: 'Signika Negative', sans-serif;

}


.tarjeta .info_tarjeta h3,
.tarjeta .info_tarjeta h5 {
    margin: 0;
    color: #1a1a1a;
}


.tarjeta .info_tarjeta:hover {
    transition: 0.4s;
    background-color: #EEEEEE;
}

.tarjeta .info_tarjeta a {
    width: 300px;
    height: 50px;
}






/* ---------------------Seccion 5--------------------------------- */

.seccion_5 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario {
    width: 80%;
    height: 90%;
    display: flex;
}

.izquierda {
    width: 30%;
    background-color: #395B64;
    ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0 0 15px;
    text-align: center;
}

.izquierda h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.izquierda .redes a>svg {
    width: 50px;
    height: 50px;
    fill: white;
    transition: transform 0.4s;
}

.izquierda .redes a {
    margin: 0 5px;
}

.izquierda .redes a>svg:hover {
    transform: scale(120%)
}


.derecha {
    width: 70%;
    background-color: #E7F6F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0 15px 15px 0;
    justify-content: space-evenly;
}

.titulo_subtitulo h1,
.titulo_subtitulo h2 {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    color: #395B64;
}

.formulario .derecha form {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-family: 'Noto Serif Vithkuqi', serif;
    font-family: 'Signika Negative', sans-serif;
    background-color: #2C3333;
    padding: 20px;
    border-radius: 10px;
}

.formulario .derecha form>input {
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.87);
    margin-bottom: 15px;
    height: 35px;
    color: #1a1a1a;
    font-family: 'Noto Serif Vithkuqi', serif;
    font-family: 'Signika Negative', sans-serif;
}

.formulario .derecha form input:last-of-type {
    width: 70%;
    height: 40px;
    margin: auto;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.87);
    background-color: #394867;
}

.formulario .derecha form #cuentame {
    height: 150px;
    background-color: rgba(255, 255, 255, 0.87);
    color: #1a1a1a;
    font-family: 'Noto Serif Vithkuqi', serif;
    font-family: 'Signika Negative', sans-serif;
    resize: none;
}

.footer {
    margin-top: 50px;
    text-align: center;
    font-family: 'Noto Serif Vithkuqi', serif;
    font-family: 'Signika Negative', sans-serif;
    border-top: 1px solid rgba(255, 255, 255, 0.87);
}